#Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. Julia
4. Java


Some of the commonly used libraries used by Data Scientists:
1. Scipy
2. Pandas
3. Matplotlib
4. Numpy

| Data Science Tools|
---------------------
|SensorFlow|
|PyTorch|
|Seaborn|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**

*Numpy , matplotlib,pandas are some of the libraries used in Data Science.

*In this notebook  we learned how to evaluate arithmetic expressions in python.

*We learned to create a table with single column.

*In this notebook we have learned how to give headings, comments in bold or levels in Markdown cells.

##Author
Saru Yoga Thrisha A